* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.uni-navbar {
  .uni-navbar__content_view .uni-navbar__header-btns {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 40px;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  background-color: inherit;
}

button::after {
  border: none
}

ul, ol {
  list-style: none;
}
